$font-color: #fff;
$background-color: rgba(0, 0, 255, 0.5); //for later testing blue
$fog-color: darkslategray; //for later testing darkelivegreen
$night-color: rgba(204, 0, 102, 0.5); //for later testing ruby or midnighblue
$mask-color: rgba(0, 0, 0, 0.1);
$button-color: transparent;
$border-color: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadow-color: #fff;
$text-shadow-color: #000;
$fade-color: rgba(255, 255, 255, 0.6); // for later testing any favourite color
